html, body {
  height: 100%;
  margin: 0;
}


.page-container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
    height: 100%;

}

header{
    grid-area: header;
    background-color: rgb(205, 223, 27);
}

nav{
    width: 250px;
    background-color: rgb(57, 62, 6);
    grid-area: nav;
}

main {
  background: #f5f5f5;
  grid-area: main;
}


footer{
    grid-area: footer;
    background-color: rgb(249, 251, 227);
}

.menu-title{
    color: white;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.menu-container{
    position: sticky;
    top: 0px;
}

.menu-container ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.menu-container li{
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    border-right: 1px solid rgba(128, 128, 128, 0.5);
    background-color: rgb(249, 251, 227);
}

.toolbar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}

.page-title{
    color: white;
    align-content: center;
    padding-top: 25px;
    font-size: larger;
}

.list{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 75px;
}

.card{
  border: 2px solid #888;
  padding: 24px 8px 12px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 300px;
  height: 200px;
  border-radius: 4px;
  text-align: center;
}

.card img{
    border-radius: 50%;
    width: 130px;
}

.member-name{
    font-size: large;
}

@media (max-width: 768px){
    html, body{
        min-height: 100vh;
        height: auto;
    }

    .page-container {
        min-height: 100vh;
        height: auto;   
        display: grid;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
    }

    .toolbar{
        display: none;
    }

    nav{
        position: sticky;
        top: 0;
        width: 100%;
    }
    

    .menu-title{
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: space-around;

    }

    ul li {
        width: 100px;
        box-sizing: border-box;
        text-align: center;
        margin: 10px;
    }

    .page-title{
        padding-bottom: 20px;
        padding-left: 20px;
        font-size: x-large;
    }

    .list{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .card{
        flex-direction: row;
        border: none;
        gap: 30px;
        background-color: white;
        width: 95vw;
    }

    footer{
        padding-left: 10px;
        height: 50px;
    }
}