@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #141414;
    color: white;
    font-family: Jost;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
    "header"
    "main";
    height: 100%;
}

header {
  grid-area: header;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #141414;
}

.platform-title::before{
  content: "Warner Live";
}


#top-text::before{
  content: "5";
}

.header-logo{
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 700;
}

.header-buttons{
  margin-left: auto;
  display: flex;
  gap: 35px;
  align-items: center;
  padding: 25px;


  :hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 1px;
    outline: 15px solid white;
  }
}

main {
  grid-area: main;
  margin-left: 10px;

}

section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  .item {
    transition: transform 0.2s;
    min-width: 250px;
  }

  &:hover {
    .item {
      transform: scale(0.9);
      opacity: 0.7;
    }

    .item:hover {
      transform: scale(1.2);
      opacity: 1;
      z-index: 2;

    }
  }
}

.top, .section-title{
    font-size: 24px;
    font-weight: 700;

    .top-item{
        min-width: 225px;
    }
}


@media (max-width: 1280px) {
    body{
    }

    section{
        justify-content: center;
    }

    .top > .top-item:nth-last-child(-n+2){
        display: none;
    }

    .platform-title::before{
      content: "";
    }

    #top-text::before{
    content: "3";
    }
}