$color-principal: #da1212;
$color-secundario: #86413c;
$color-terciario: #e59491;
$sombra: -21px 23px 18px 0px rgba(0,0,0,0.75);
$fuente-principal: georgia;
$fuente-secundaria: arial;
$borde: 0px;


:root {
  --color-principal: #{$color-principal};
  --color-secundario: #{$color-secundario};
  --color-terciario: #{$color-terciario};
  --sombra: #{$sombra};
  --fuente-principal: #{$fuente-principal};
  --fuente-secundaria: #{$fuente-secundaria};
  --borde: #{$borde};
}
